.userList {

}

.userList_Item {
    border-bottom: 1px solid;
    margin-bottom: 8px;
}

.userList_Item img {
    width: 50px;
}

.userList_Item_name {

}

.userDetail {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 75px;
    background: #dcd0d0;
    left: calc(50% - 250px);
}

.userDetail_avatar {

}

.userDetail_info {

}

.userDetail_info_name {

}